[submodule "clean-fid"]
	path = clean-fid
	url = git@github.com:GaParmar/clean-fid.git
[submodule "vqgan-clip"]
	path = vqgan-clip
	url = git@github.com:dashstander/vqgan-clip.git
[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP

